.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.roomCard {
	margin: 10px 0px;
	padding: 10px 25px; 
	background-color: white;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
	transition: all 0.3s;
	&:hover {
		cursor: pointer;
		transform: translateX(15%);
	}
}

.logout-btn {
	padding: 10px 15px;
	color: whitesmoke;
	background-color: blue;
	font-weight: bold;
	border: 3px solid blue;
	transition: all 0.3s;
	&:hover {
		cursor: pointer;
		color: blue;
		background-color: white;
	}
}