.login-background {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}

.loginPanel {
	padding: 20px 25px;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
	.formInput {
		width: 50%;
		padding: 5px;
	}
	.formSubmitBtn {
		padding: 10px 20px;
		font-weight: bold;
		color: whitesmoke;
		background-color: blue;
		border: 0px;
		&:hover {
			cursor: pointer;
		}
	}
	.loginPanel-title {
		margin: 10px 0px 20px;
	}
}